---
import 'bootswatch/dist/yeti/bootstrap.min.css'
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Profile from '../components/Profile.astro';
import AboutMe from '../components/AboutMe.astro';
import Skills from '../components/Skills.astro';
import Hobbies from '../components/Hobbies.astro';
import Traning from '../components/Traning.astro';
import SideProjects from '../components/SideProjects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header/>
		<Profile/>
		<AboutMe/>
		<Skills/>
		<Hobbies/>
		<Traning/>
		<SideProjects/>
		<Contact/>
		<Footer/>
	</main>
</Layout>
