


<section id="aboutme">
  <h2>Sobre mi</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis iste enim eos expedita odio adipisci mollitia, temporibus ea eum quo delectus? Incidunt reiciendis id amet, a veritatis odio odit omnis.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium sapiente corrupti, veritatis minus tenetur, laboriosam culpa unde aperiam obcaecati illum, ut voluptatibus et qui deleniti voluptates ipsam omnis tempora! Ad?
  </p>
</section>

<style>
  section{
    background-color: #eaf2fd;
    padding: 40px 60px;
  }
  @media (min-width: 600px) {
    p{
      width: 70%;
    }
  }

</style>