---
import CardIcon from "./CardIcon.astro";

---
<section id="hobbies">
  <h2>Hobbies</h2>
  <div class="card-list">
    <CardIcon icon="fa-solid fa-gamepad" label="Videojuegos" />
    <CardIcon icon="fa-solid fa-film" label="Series" />
    <CardIcon icon="fa-solid fa-kitchen-set" label="Cocinar" />
    <CardIcon icon="fa-solid fa-person-walking" label="Caminar" />
    <CardIcon icon="fa-solid fa-camera-retro" label="Fotografia" />
    <CardIcon icon="fa-solid fa-gamepad" label="Videojuegos" />

  </div>
</section>

<style>
  h2{
    text-align: center;

  }
  section{
    padding: 50px;
  }

</style>