---
import Project from "./project.astro";

---

<section id="projects">
  <h2>Experiencia profecional</h2>
  <Project/>
  <Project/>
  <Project/>
  <Project/>
</section>
<style>
  h2{
    text-align: center;
  }
  section{
    padding: 50px;
  }

</style>