---
import CardIcon from "./CardIcon.astro";

---
<section id="skills">
  <h2>Skills</h2>
  <div class="card-list">
    <CardIcon icon="fa-brands fa-js" label="JavaScript" />
    <CardIcon icon="fa-brands fa-react" label="React" />
    <CardIcon icon="fa-brands fa-css3-alt" label="CSS" />
    <CardIcon icon="fa-brands fa-angular" label="Angular" />
    <CardIcon icon="fa-brands fa-html5" label="HTML5" />
    <CardIcon icon="fa-brands fa-js" label="JavaScript" />
  </div>
</section>

<style>
  h2{
    text-align: center;
  }
  section{
    padding: 50px;
  }

</style>