
<section id="traning">
  <h2>Formación académica</h2>
  <div class="card-list">
    <div class="card">
      <div class="card-body">
        <img src="/tecsanpedro.png" alt="">
      </div>
      <div class="card-footer">
        <h4>Ing. Sistemas computacionales</h4>
        <p>2013-2018</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <img src="/logo.svg" alt="">
      </div>
      <div class="card-footer">
        <h4>React G5 - ONE</h4>
        <p>2023</p>
      </div>
    </div>
  </div>
  
</section>

<style>
  h2{
    text-align: center;
  }
  section{
    background-color: #EAF2FD;
    padding: 50px;
  }
  .card{
    width: 30%;
  }
  .card-body{
    padding: 20px;
  }
  .card-footer{
    padding: 10px;
  }
  img{
    width: 100%;
  }
  @media (max-width: 550px) {
    .card-list{
      flex-direction: column;
    }
    .card{
      width: 100%;
      margin-bottom: 1rem;
    }
  }

</style>